* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.barraNavegacao a {
    color: white;
}

.navColorWhite {
    color: white;
}

.navbar-toggle{
    background-color: aliceblue;
    border: 5px solid rgb(40, 86, 179);
}

.navbar-nav > li > a:hover {
    color: white;
    background-color: transparent !important;
    border-bottom: 5px solid #00205f;
    text-decoration: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
}
  
.navbar-nav > li > a:focus {
    background-color: transparent !important;
}
