* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contents{
    padding: 7rem 0;
    font-family:"Roboto",sans-serif;
    background-color: #ecf1f1;
    margin-top: 14rem;
}

.caption{
    color: #888;
}

.lmCheck{
    position: relative;
    top: 3px;
}

#esqueceuSenha{
    text-decoration: none;
    position: relative;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: 109px;
}
#esqueceuSenha:hover{
    color: blue;
}

/*Pagina esqueceu a senha INICIO*/
.emailNewPass{
    width: 35%;
}
.emailNew{
    position: relative;
    left: 91%;
}

.btnEmailNew{
    position: relative;
    left: 132%;
    margin-top: 12px;
}
/*Pagina esqueceu a senha FIM*/
